.logopanel{
    background-color: black;
    text-align: center;
}
#logo{
    max-width: 50%;
}

.greet{
    color:white ;
    font-size: 20px;
}
.custom-logout{
    padding: 10px;
    color: white;
    border-radius: 5px;
    background-color: red;
}

.signout-panel{
    text-align: center;
}

/* driver */
.formpanel{
    padding: 10px;
    margin-top: 10px;
    text-align:center;
    background-color: #dfdfdf ;
}

input[type="text"]{
    width: 80%;
}

.submit-btn{
    margin: 10px;
    width: 25%;
    color:white;
    background-color: rgb(17, 202, 33);
    padding: 10px;
    border-radius: 5px;
    border: none;

}
.driverdetails{
    color:white;
    display: block;
    border-radius: 5px;
    background-color: rgb(17, 202, 33);
    width: 50%;
    margin: 0 auto;
    padding: 5px;
}
.driverdetails:hover{
    color: white;
    text-decoration: none;
    background-color: rgb(12, 150, 23);
}


/* user */
.driverphoto{
    width:50%;
}
.photopanel{
    padding:10px;
    text-align:center;
}


.driverlist{
    background-color: black;
    margin-top: 10px;
}

.driverdesc{
    margin-top: 10px;
    padding: 10px;
    background-color:#dfdfdf ;
}

.amountpanel{
    color: white;
    text-align: center;
    padding-top: 30px;
}

 /*  */

 .adminlinks{
     color: white;
     display: block;
     width: 100%;
     padding: 10px;
     margin: 5px;
     background-color: rgb(17, 202, 33);
 }

 .adminlinks:hover{
     color: white;
     text-decoration: none;
     background-color: rgb(12, 150, 23);
 }
