/*logo*/
.logopanel{
    background-color: black;
    
}

#logo{
    width: 100%;
} 

#loginlink{
    margin: 0 auto;
}

/* */

/* jumbotron */
.custom-jumbotron{
    background-color: aquamarine;
    border-radius: 10px;
    width: 100%;
}
.info{
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

.aboutus{
    height: 300px;
    background-color:grey;
}
/* footer */
.foot{
    
    color: white;
    height: 300px;
    background-color:black;
}